---
import LinkInline from "./LinkInline.astro";
import ArrowRight from "./icons/ArrowRight.astro";

interface Props {
  title: string;
  company: string;
  description: string;
  link?: string;
  date: string;
  current?: boolean;
}

const {
  title,
  company,
  description,
  link,
  date,
  current = false,
} = Astro.props;
---

<div
  class="relative mx-12 pb-12 grid before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border-slate-300 dark:before:border-cyan-500/20 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4"
>
  <div class="relative pb-12 md:col-span-2">
    <div class="sticky top-0">
      <div class="flex items-center">
        <span
          class="absolute -left-[42px] flex size-[14px] items-center justify-center"
          aria-hidden="true"
        >
          {
            current && (
              <span class="animate-ping motion-reduce:animate-none absolute inline-flex size-full rounded-full bg-cyan-400/40"></span>
            )
          }

          <span
            class={`relative inline-flex size-[10px] rounded-full bg-cyan-500 ${
              current
                ? "shadow-[0_0_10px_2px_rgba(6,182,212,0.35)]"
                : ""
            }`}
          ></span>
        </span>

        <h3 class="text-xl font-bold text-cyan-500">
          {title}
        </h3>
      </div>

      <h4 class="text-xl font-semibold text-slate-700 dark:text-slate-200">
        {company}
      </h4>

      <time class="p-0 m-0 text-sm text-slate-500 dark:text-slate-400">
        {date}
      </time>
    </div>
  </div>

  <div class="relative flex flex-col gap-2 pb-4 text-slate-600 dark:text-slate-300 md:col-span-3">
    {description}

    {
      link && (
        <LinkInline href={link}>
          Saber más sobre {company}
          <ArrowRight class="size-5" aria-hidden="true" />
        </LinkInline>
      )
    }
  </div>
</div>